<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" th:fragment="bootstrap_css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="header">
        <a class="navbar-brand" href="#">TASK MANAGER</a>
        <button type="button" class="navbar-toggler"
                data-toggle="collapse" data-target="#navbar-app">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-app">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/">Home</a>
                <a class="nav-item nav-link" href="/tasks/list">Tasks</a>
                <a class="nav-item nav-link" href="/logout">Logout</a>
            </div>
        </div>
    </nav>

    <script src="/webjars/jquery/3.4.1/jquery.min.js" th:fragment="jquery"></script>
    <script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js" th:fragment="bootstrap_js"></script>
</body>
</html>