<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" th:fragment="bootstrap_css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="header">
        <a class="navbar-brand" href="#">TASK MANAGER</a>
        <button type="button" class="navbar-toggler"
                data-toggle="collapse" data-target="#navbar-app">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-app">
            <div class="navbar-nav">
                <div class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </div>

                <div class="nav-item">
                    <a class="nav-link" href="/tasks/list">Tasks</a>
                </div>

                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Profile</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Change Password</a>
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>



    <footer id="sticky-footer" class="py-4 bg-dark text-white-50 navbar fixed-bottom" th:fragment="footer">
            Copyright &copy; Wagdy Navas
    </footer>

    <script src="/webjars/jquery/3.4.1/jquery.min.js" th:fragment="jquery"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js" th:fragment="bootstrap_js"></script>
</body>
</html>