<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task Manager home</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div th:replace="/fragments/fragments :: header"></div>
    <div class="container">
        <p>Welcome to the task manager</p>
        <p th:text="${message}"></p>
    </div>

    <div th:replace="/fragments/fragments :: footer"></div>
    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>